.jumbotron{
  background-image:url('../img/Banner.png');
  background-color: red;
  height:200px;
  background-repeat: no-repeat;
  border-bottom:1px solid #ff6a00;
  background-size: auto 100%;
  background-position: center;
  position: relative;
}
